<section class="category-page">

  {{!-- Top Banner Section --}}
  <section id="main-content" class="hero">
    <div class="container section">
      <h1 class="hero-text fade-in-up">{{settings.category_heading}}</h1>
      {{#if settings.show_category_subtitle}}
        <p class="p-large fade-in-up">{{settings.category_subtitle}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
    </div>
    <svg width="218" height="675" viewBox="0 0 218 675" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_11304_795)">
        <path d="M218.381 180.777L-110 -85.0549V423.154L218.381 180.777Z" fill="#D8DCFD" fill-opacity="0.4"/>
        <path d="M218.381 3.06689L-110 -262.765V245.444L218.381 3.06689Z" fill="#D8DCFD" fill-opacity="0.4"/>
        <path d="M218.381 340.805L-110 74.9729V583.182L218.381 340.805Z" fill="#D8DCFD" fill-opacity="0.4"/>
        <path d="M218.381 517.678L-110 251.846V760.055L218.381 517.678Z" fill="#D8DCFD" fill-opacity="0.4"/>
      </g>
      <defs>
        <clipPath id="clip0_11304_795">
          <rect width="218" height="675" fill="white" transform="matrix(-1 0 0 1 218 0)"/>
        </clipPath>
      </defs>
    </svg>
    <svg width="217" height="675" viewBox="0 0 217 675" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_11304_744)">
        <path d="M-0.381104 180.777L328 -85.0549V423.154L-0.381104 180.777Z" fill="#D8DCFD" fill-opacity="0.4"/>
        <path d="M-0.381104 3.77734L328 -262.055V246.154L-0.381104 3.77734Z" fill="#D8DCFD" fill-opacity="0.4"/>
        <path d="M-0.381104 340.805L328 74.9729V583.182L-0.381104 340.805Z" fill="#D8DCFD" fill-opacity="0.4"/>
        <path d="M-0.381104 517.678L328 251.846V760.055L-0.381104 517.678Z" fill="#D8DCFD" fill-opacity="0.4"/>
      </g>
      <defs>
        <clipPath id="clip0_11304_744">
          <rect width="218" height="675" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </section>

  {{!-- Main Content --}}
  <section class="category-page__content container section">
    <h2 class="fade-in-up">{{category.name}}</h2>
    {{#if category.description}}
      <p class="fade-in-up">{{category.description}}</p>
    {{/if}}
    <div class="category-page__sections">
      {{#each sections}}
      <div class="category-page__section fade-in-up">
        <div class="category-page__section-heading">
          <h3>{{name}}</h3>
          <a class="button button-secondary" href="{{url}}">{{t 'show_all_articles'}}</a>
        </div>
        <div class="category-page__articles">
          {{#each articles}}
            <div class="category-page__article">
              <h6><a href="{{url}}">{{title}}</a></h6>
              <div>{{body}}</div>
              <div>
                <a href="{{url}}"></a>
                {{t 'see_more'}}
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </section>

</section>


